<div #phraseContainer>
  @for (line of phraseLines; track $index) {
    <p class="phrase" [style.font-size]="fontSize">
      @for (word of line.words; track $index) {
        <span class="phrase-word">
          @for (letter of word.letters; track $index) {
            <span
              class="phrase-letter"
              [attr.data-char]="letter.char"
              [attr.data-font]="letter.font"
            >{{ letter.char }}</span>
          }
        </span>
        @if (!$last) {
          <span class="phrase-space"></span>
        }
      }
    </p>
  }
</div>
